body{
    display:block;
}
h1{
    display: flex;
    justify-content: center;
}
.buttons{
    background-color: aqua;
    display: flex;
    justify-content: center;
}
button{
    height: 100px;
    width: 200px;

}
button{
    background-image: url(https://png.pngitem.com/pimgs/s/190-1900791_igneous-rock-hd-png-download.png);
    background-size: 200px 100px;
    background-position: center;
    background-repeat: no-repeat;
}