body{
    display:block;
}
h1{
    display: flex;
    justify-content: center;
}
.buttons{
    background-color: aqua;
    display: flex;
    justify-content: center;
}
button{
    height: 100px;
    width: 200px;

}
#rock{
    background-image: url(https://png.pngitem.com/pimgs/s/190-1900791_igneous-rock-hd-png-download.png);
    background-size: 200px 100px;
    background-position: center;
    background-repeat: no-repeat;
}
#paper{
    background-image: url(https://i.insider.com/4bedb1287f8b9aa1527a0700?width=600&format=jpeg&auto=webp);
    background-size: 200px 100px;
    background-position: center;
    background-repeat: no-repeat;
}
#scissors{
    background-image: url(https://m.media-amazon.com/images/I/51mffDwLZ3L._AC_SX425_.jpg);
    background-size: 200px 100px;
    background-position: center;
    background-repeat: no-repeat;
}